################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/github_test/github_test/x64/Debug
/github_test/x64/Debug
/github_test/.vs/github_test/v17/Browse.VC.opendb
/github_test/.vs/github_test/v17/Browse.VC.db-shm
/github_test/.vs/github_test/v17/Browse.VC.db-wal
github_test/.vs/github_test/v17/Browse.VC.db
github_test/.vs/github_test/v17/Browse.VC.db
github_test/.vs/github_test/v17/Browse.VC.db
